# No redundant readme file #
README.txt

# Ignore all the object files #
*.o
*/*.o

# No execute file included #
hello/hello

# No java at all #
*.java

# Ignore all the .git folder #
.git
*/.git

# No ./*/build directory included #
hello/build/
*/build/
*/*/build/
cpptest/*/build/

# LOG file not included.
bashfiles/log*
commandline/playground/log*
*/log*
*/*/log*

# Some other files not to be pushed
commandline/playground/foo.html

#======================================#
# Note for ignore grammar rules
#======================================#
# no ./ sign before the file/folder name

